Status: {{subCategoryForm.valid}}


<form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="field_category">Categoria</label>
    <select class="form-control" formControlName="categoryId">
      <option *ngFor="let c of categories" [ngValue]="c.CategoryId">{{c.Description}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="field_description">Descricion</label>
    <input type="text" class="form-control" formControlName="description" />
  </div>
  <button type="submit" class="btn btn-info btn-form-cre">Guardar</button>
  <button type="button" class="btn btn-danger btn-form-cre">Cancelar</button>
</form>
