
.estado {
  color: #a6cb12;
}

.icon-user {
  margin-left: 50%;
}

.registro {
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2A6171;
  font-size:40px;
}


.contenedor-form-registro {
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../../assets/Ru.png');
  background-repeat:repeat;
}



form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #2A6171;
}
